/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {
background-color: #000;
}

.color-2 {
background-color:rgb(167,165,163);
}

.color-3 {
background-color: rgb(100, 215, 217);
}
   
}
/* Textures or Patterns*/

.pattern-1{
background:;
}

.pattern-2{
background: url(../img/footer_lodyas.png);
}

.pattern-3{
background: url(../img/confectionary.png);
}
/* Imagery */

.imagery-1{
 image: url(../img/waterdrop.jpg);
}

.imagery-2{
image: url(../img/watercolor.jpeg);
}

.imagery-3{
image: url(../img/sharpie.jpg);
}

/* Icons */


/* Typography */

.primary, .primary1{
font-family:'Cookie', cursive;
 
    color:#000;
    font-size: 2.5em;
}

.secondary, .secondary1{
    font-family:'Raleway', sans-serif;
    color:#000;
}

.paragraphs, .paragraph1, p {
font-family:'Raleway', sans-serif;
}
/* Forms */


/* Tables */


/* Cards */